#define FONT  xft:Consolas:pixelsize=15
#define DFONT xft:WenQuanYi Bitmap Song:pixelsize=14

#include "/home/wz/.xrdb/01-look-zenburn.xrdb"
#include "/home/wz/.xrdb/02-xterm.xrdb"
#include "/home/wz/.xrdb/03-urxvt.xrdb"

! X cursor
Xcursor.theme: Vanilla-DMZ
! Xcursor.size: 16

! XFT and Font settings
!Xft*dpi:       96
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintslight
Xft*rgba:      rgb

! Turn off XIM, C-\ to use input methods provided by Emacs
Emacs.useXIM: off